body {
	--bs-border-color: royalblue !important;
}

.offcanvas {
	--bs-offcanvas-height: 80vh;
	font-size: small !important;
}

.btn-primary {
	--bs-btn-bg: var(--bs-body-bg);
	--bs-btn-border-color: royalblue;
	--bs-btn-hover-bg: royalblue;
	--bs-btn-hover-border-color: royalblue;
	--bs-btn-focus-shadow-rgb: royalblue;
	--bs-btn-active-bg: royalblue;
	--bs-btn-active-border-color: royalblue;
}

.progress {
	--bs-progress-bar-bg: royalblue;
}

input {
	--bs-border-color: grey !important;
}

.input-group-text {
	flex: 0 0 20%;
}

h1, h2, h3, h4, h5, h6 {
	--bs-text-opacity: .5 !important;
	color: royalblue !important;
}

.list-group-item:hover {
	/*color: black !important;*/
	background-color: royalblue !important;
}

/*bootstrap last item radius fix*/
.list-group-item:last-of-type {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}