<dialog id="check_process_modal" class="modal">
	<div class="modal-box border border-primary min-w-2/4">
		<form method="dialog">
			<button class="btn btn-primary btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<p class="text-bold text-3xl text-center" id="modal-title">check process</p>
		<div id="model-content">
			<form action="/checkprocess" method="post">
				<table class="table table-xs">
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">process id</span>
								<input type="text" id="checkprocess-processid" name="checkprocess-processid">
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">lang</span>
								<input type="text" id="checkprocess-lang" name="checkprocess-lang" value="tr">
							</label>
						</td>
					</tr>
					<tr>
						<td class="text-center">
							<input type="submit" class="btn btn-primary" value="submit">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</dialog>