<div class="toast toast-top toast-right transition-all transition-discrete mt-10">
	<div class="flex flex-col alert alert-outline alert-success hidden">
		<p class="text-3xl">success</p>
		<p class="text-sm">configs updated</p>
	</div>
	<div class="flex flex-col alert alert-outline alert-error hidden">
		<p class="text-3xl">failed</p>
		<p class="text-sm" id="toast_failure_message">placeholder config not updated</p>
	</div>
</div>

<div class="flex p-10 mx-100">
	<table class="table">
		<tbody>
			<form>
				<tr>
					<td colspan="2" class="text-center">
						<a href="https://docs-vpos.halkode.com.tr/" target="_blank" class="link text-xl">official
							documentation</a>
					</td>
				</tr>
				<tr>
					<td>
						<label class="input input-primary input-l w-full">
							<span class="label text-primary w-1/4">client token</span>
							<input type="text" id="config-client-token" value="{{.clientToken}}" />
						</label>
					</td>
					<td rowspan="3">
						<div class="flex justify-center">
							<button class="btn btn-primary" id="config-update" type="button">click me!</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="input input-primary input-l w-full">
							<span class="label text-primary w-1/4">secret key</span>
							<input type="text" id="config-secret-key" value="{{.secretKey}}" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="input input-primary input-l w-full">
							<span class="label text-primary w-1/4">base url</span>
							<input type="text" id="config-base-url" value="{{.baseUrl}}" />
						</label>
					</td>
				</tr>
			</form>
		</tbody>
	</table>
</div>