<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
					crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/themes/prism-tomorrow.min.css"
				integrity="sha256-GxX+KXGZigSK67YPJvbu12EiBx257zuZWr0AMiT1Kpg=" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/prism.js"
					integrity="sha256-uAFFHZtMvxhXcVqX7K5ELibBEbq24Z/uDoPf2nDMKQA=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-json.js"
					integrity="sha256-g1xEhXw/KV8sW9cDFgBuRVd52nYoew4U2Tu8mV9ljks=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/custom.css">
</head>
<body data-bs-theme="dark">
<div class="container text-center mt-4" id="body">