<!DOCTYPE html>
<html data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>roofvpos</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/prism.js"
		integrity="sha256-uAFFHZtMvxhXcVqX7K5ELibBEbq24Z/uDoPf2nDMKQA=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-json.js"
		integrity="sha256-g1xEhXw/KV8sW9cDFgBuRVd52nYoew4U2Tu8mV9ljks=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/custom.css">
	<script async crossorigin="anonymous">
		var selectedTheme = localStorage.getItem("theme");
		if (selectedTheme) {
			document.documentElement.setAttribute("data-theme", selectedTheme);
		}
	</script>
</head>

<body>
	<div class="flex flex-wrap justify-center">
		<div class="join join-horizontal">
			<button class="btn btn-dash join-item" data-set-theme="light">light</button>
			<button class="btn btn-dash join-item" data-set-theme="dark">dark</button>
			<button class="btn btn-dash join-item" data-set-theme="cupcake">cupcake</button>
			<button class="btn btn-dash join-item" data-set-theme="synthwave">synthwave</button>
			<button class="btn btn-dash join-item" data-set-theme="cyberpunk">cyberpunk</button>
			<button class="btn btn-dash join-item" data-set-theme="halloween">halloween</button>
			<button class="btn btn-dash join-item" data-set-theme="forest">forest</button>
			<button class="btn btn-dash join-item" data-set-theme="aqua">aqua</button>
			<button class="btn btn-dash join-item" data-set-theme="lofi">lofi</button>
			<button class="btn btn-dash join-item" data-set-theme="luxury">luxury</button>
			<button class="btn btn-dash join-item" data-set-theme="acid">acid</button>
			<button class="btn btn-dash join-item" data-set-theme="night">night</button>
			<button class="btn btn-dash join-item" data-set-theme="coffee">coffee</button>
			<button class="btn btn-dash join-item" data-set-theme="dim">dim</button>
			<button class="btn btn-dash join-item" data-set-theme="sunset">sunset</button>
			<button class="btn btn-dash join-item" data-set-theme="silk">silk</button>
		</div>
	</div>