{{template "header.html"}}
{{template "config.html" .}}
<!-- transaction buttons start -->
<div class="flex flex-col items-center gap-2" id="transaction-buttons">
	<p class="text-3xl">non-secure transactions</p>
	<div class="join">
		<button type="button" class="btn btn-primary join-item" onclick="sale_modal.showModal()" id="sale">sale</button>
		<button type="button" class="btn btn-primary join-item" onclick="postsale_modal.showModal()"
			id="postsale">postsale</button>
		<button type="button" class="btn btn-primary join-item" onclick="void_modal.showModal()"
			id="void-button">void</button>
		<button type="button" class="btn btn-primary join-item" onclick="refund_modal.showModal()"
			id="refund-button">refund</button>
		<button type="button" class="btn btn-primary join-item" onclick="point_modal.showModal()" id="point-button">
			point inquiry</button>
	</div>
</div>
<div class="flex flex-col items-center mt-5 gap-2">
	<p class="text-3xl">threed secure transactions</p>
	<div class="join">
		<button type="button" class="btn btn-primary join-item" onclick="threeds_modal.showModal()"
			id="threeds-button">threeds</button>
		<button type="button" class="btn btn-primary join-item" onclick="threeds_hosting_modal.showModal()"
			id="threeds-hosting-button">threeds hosting</button>
		<button type="button" class="btn btn-primary join-item" onclick="complete_payment_modal.showModal()"
			id="complete-payment-button">complete payment</button>
	</div>
</div>
<div class="flex flex-col items-center mt-5 gap-2">
	<p class="text-3xl">checking</p>
	<div class="join">
		<button type="button" class="btn btn-primary join-item" onclick="check_token_modal.showModal()"
			id="check-token-button">check token</button>
		<button type="button" class="btn btn-primary join-item" onclick="check_order_modal.showModal()"
			id="check-order-button">check order</button>
		<button type="button" class="btn btn-primary join-item" onclick="check_process_modal.showModal()"
			id="check-process-button">check process</button>
		<button type="button" class="btn btn-primary join-item" onclick="list_order_modal.showModal()"
			id="list-order-button">list order</button>
	</div>
</div>
<!-- transaction buttons end -->
{{template "sale.html" .}}
{{template "postsale.html" .}}
{{template "void.html"}}
{{template "refund.html"}}
{{template "point.html" .}}
{{template "threeds.html" .}}
{{template "threedshosting.html" .}}
{{template "completepayment.html"}}
{{template "checktoken.html"}}
{{template "checkorder.html"}}
{{template "checkprocess.html"}}
{{template "listorder.html"}}
{{template "transactions.html" .}}
<script src="/assets/home.js"></script>
{{template "footer.html"}}