{{template "header.html"}}
<a href="https://docs-vpos.halkode.com.tr/" class="link-underline-light">official documentation</a>

{{template "config.html" .}}
<!-- transaction buttons start -->
<div class="row mt-4 mb-5" id="transaction">
	<h3>non-secure transactions</h3>
	<div class="list-group list-group-horizontal">
		<button type="button" class="list-group-item flex-fill" id="sale-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#saleoffcanvas">sale
		</button>
		<button type="button" class="list-group-item flex-fill" id="postsale-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#postsaleoffcanvas">postsale
		</button>
		<button type="button" class="list-group-item flex-fill" id="void-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#voidoffcanvas">void
		</button>
		<button type="button" class="list-group-item flex-fill" id="refund-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#refundoffcanvas">refund
		</button>
		<button type="button" class="list-group-item flex-fill" id="point-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#pointoffcanvas">point
		</button>
	</div>
	<h3 class="mt-4"> threeds transactions</h3>
	<div class="list-group list-group-horizontal">
		<button type="button" class="list-group-item flex-fill" id="threeds-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#threedsoffcanvas">3ds
		</button>
		<button type="button" class="list-group-item flex-fill" id="threedshosting-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#threedshostingoffcanvas">3ds hosting
		</button>
		<button type="button" class="list-group-item flex-fill" id="completepayment-offcanvas-button" data-bs-toggle="offcanvas"
						data-bs-target="#completepaymentoffcanvas">complete payment
		</button>
	</div>
	{{template "sale.html" .}}
	{{template "postsale.html"}}
	{{template "void.html"}}
	{{template "refund.html"}}
	{{template "point.html" .}}
	{{template "threeds.html" .}}
	{{template "threedshosting.html" .}}
	{{template "completepayment.html"}}
</div>
<!-- transaction buttons end -->
{{template "transactions.html" .}}
<script src="/assets/home.js"></script>
{{template "footer.html"}}
