<dialog id="sale_modal" class="modal">
  <div class="modal-box border border-primary min-w-2/4">
    <form method="dialog">
      <button class="btn btn-primary btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <p class="text-bold text-3xl text-center" id="modal-title">sale</p>
    <div id="model-content">
      <div class="flex flex-row items-center justify-center gap-2">
        <label class="toggle text-base-content">
          <input type="checkbox" id="switchTransactionMode" autocomplete="off" />
          <svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
          <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
              <path d="M20 6 9 17l-5-5"></path>
            </g>
          </svg>
        </label>
        <p id="switchTransactionMode-label" class="text-error text-2xl">pre-sale</p>
      </div>
      <form action="/sale" method="post" id="sale-form">
        <table class="table table-xs">
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">order id</span>
                <input type="text" id="sale-order-id" name="sale-order-id" value="{{.saleReq.OrderID}}" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">card number</span>
                <input type="text" id="sale-card-no" name="sale-card-no" value="9792100005476586" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">expiry</span>
                <input type="text" id="sale-expiry" name="sale-expiry" value="2505" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">cvv</span>
                <input type="text" id="sale-cvv" name="sale-cvv" value="017" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">amount</span>
                <input type="text" id="sale-amount" name="sale-amount" value="10000" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">point amount</span>
                <input type="text" id="sale-point" name="sale-point" value="0" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">currency</span>
                <input type="text" id="sale-currency" name="sale-currency" value="949" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">ecommerce txn type</span>
                <input type="text" id="sale-ecommerce-txn-type" name="sale-ecommerce-txn-type" value="0" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">txn initiation type</span>
                <input type="text" id="sale-txn-initiation-type" name="sale-txn-initiation-type" value="0" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">installment count</span>
                <input type="text" id="sale-installment-count" name="sale-installment-count" value="1" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">cardholder ip</span>
                <input type="text" id="sale-cardholder-ip" name="sale-cardholder-ip" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">merchant ip</span>
                <input type="text" id="sale-merchant-ip" name="sale-merchant-ip" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">submerchant ip</span>
                <input type="text" id="sale-submerchant-ip" name="sale-submerchant-ip" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">lang</span>
                <input type="text" id="sale-lang" name="sale-lang" value="tr" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">additional info</span>
                <input type="text" id="sale-additional-info" name="sale-additional-info" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">invoice info</span>
                <input type="text" id="sale-invoice-info" name="sale-invoice-info" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="input input-primary input-sm w-full">
                <span class="label text-primary w-1/4">identification number</span>
                <input type="text" id="sale-identificationNumber" name="sale-identificationNumber" />
              </label>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="submit" class="btn btn-primary" value="submit" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</dialog>

<script>
  const tmswitch = document.getElementById("switchTransactionMode");
  const tmswitchlabel = document.getElementById("switchTransactionMode-label");
  tmswitch.addEventListener("change", () => {
    if (tmswitch.checked) {
      document.getElementById("sale-form").action = "/pre";
      tmswitchlabel.classList.remove("text-error");
      tmswitchlabel.classList.add("text-success");
    } else {
      document.getElementById("sale-form").action = "/sale";
      tmswitchlabel.classList.remove("text-success");
      tmswitchlabel.classList.add("text-error");
    }
  });
</script>