<dialog id="threeds_hosting_modal" class="modal">
	<div class="modal-box border border-primary min-w-2/4">
		<form method="dialog">
			<button class="btn btn-primary btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<p class="text-bold text-3xl text-center" id="modal-title">threeds hosting</p>
		<div id="model-content">
			<div class="flex flex-row items-center justify-center gap-2">
				<label class="toggle text-base-content">
					<input type="checkbox" id="switch-threedshosting-transaction-type" autocomplete="off" />
					<svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
						<path d="M18 6 6 18" />
						<path d="m6 6 12 12" />
					</svg>
					<svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
							<path d="M20 6 9 17l-5-5"></path>
						</g>
					</svg>
				</label>
				<p id="switch-threedshosting-transaction-type-label" class="text-error text-2xl">pre-sale</p>
			</div>
			<form action="/threedshosting" method="post" id="threedshosting-form">
				<input type="hidden" name="threedshosting-transaction-type" id="threedshosting-transaction-type" value="Sale">
				<table class="table table-xs">
					<tr>
						<td class="flex justify-center gap-2">
							<label class="text-bold text-primary text-xl">hosting</label>
							<input type="radio" class="radio radio-primary" name="threedshosting-order-type" value="H" checked
								autocomplete="off">
							<input type="radio" class="radio radio-primary" name="threedshosting-order-type" value="L"
								autocomplete="off">
							<label class="text-bold text-primary text-xl">link</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">order id</span>
								<input type="text" id="threedshosting-order-id" name="threedshosting-order-id"
									value="{{.saleReq.OrderID}}" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">amount</span>
								<input type="text" id="threedshosting-amount" name="threedshosting-amount" value="10000" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">currency</span>
								<input type="text" id="threedshosting-currency" name="threedshosting-currency" value="949" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">request type</span>
								<input type="text" id="threedshosting-ecommerce-txn-type" name="threedshosting-request-type"
									value="3DS-MODEL" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">installment count</span>
								<input type="text" id="threedshosting-installment-count" name="threedshosting-installment-count"
									value="1" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">lang</span>
								<input type="text" id="threedshosting-lang" name="threedshosting-lang" value="tr" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">additional info</span>
								<input type="text" id="threedshosting-additional-info" name="threedshosting-additional-info" value="" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">invoice info</span>
								<input type="text" id="threedshosting-invoice-info" name="threedshosting-invoice-info" value="" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">return url</span>
								<input type="text" id="threedshosting-return-url" name="threedshosting-return-url" value="" />
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="input input-primary input-sm w-full">
								<span class="label text-primary w-1/4">callback url</span>
								<input type="text" id="threedshosting-callback-url" name="threedshosting-callback-url" value="" />
							</label>
						</td>
					</tr>
					<tr>
						<td class="text-center">
							<input type="submit" class="btn btn-primary" value="submit" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</dialog>
<script>
	const threedshostingtmswitch = document.getElementById("switch-threedshosting-transaction-type");
	const threedshostingtmswitchlabel = document.getElementById("switch-threedshosting-transaction-type-label");
	threedshostingtmswitch.addEventListener("change", () => {
		if (threedshostingtmswitch.checked) {
			document.getElementById("threedshosting-transaction-type").value = "PreSale";
			threedshostingtmswitchlabel.classList.remove("text-error");
			threedshostingtmswitchlabel.classList.add("text-success");
		} else {
			document.getElementById("threedshosting-transaction-type").value = "Sale";
			threedshostingtmswitchlabel.classList.remove("text-success");
			threedshostingtmswitchlabel.classList.add("text-error");
		}
	});
</script>