<!-- transactions list start -->
<div class="row" id="transaction-list">
	<h3>transaction list</h3>
	<div class="list-group">
		{{range $index, $transaction := .transactions}}
		<button type="button" class="list-group-item" data-bs-toggle="offcanvas"
			data-bs-target="#dynamicOffcanvas">{{$transaction.OrderID}} | {{$transaction.LogDate}}
		</button>
		{{end}}
	</div>
</div>
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="dynamicOffcanvas">
	<div class="offcanvas-header pb-0">
		<h5 class="offcanvas-title ms-auto" id="offcanvasTitle">sale</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body pt-1">
		<div id="offcanvasContent">
			<p>Loading...</p>
		</div>
	</div>
</div>
<!-- transactions list end -->