<div class="font-mono w-full join join-vertical">

  {{if .transaction.SaleRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="sale-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      {{if eq .transaction.SaleResponse.txnType "Sale"}}sale{{else}}presale{{end}} -
      {{.transaction.SaleRequestHeaders.X_timestamp}}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.SaleRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
            {{end}}
          </tr>
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.SaleResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.SaleRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.SaleResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.PostSaleRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="postsale-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      postsale - {{.transaction.PostSaleRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PostSaleRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PostSaleResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PostSaleRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PostSaleResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.VoidRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="void-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      void - {{.transaction.VoidRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.VoidRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.VoidResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.VoidRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.VoidResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.RefundRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="refund-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      refund - {{.transaction.RefundRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.RefundRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.RefundResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.RefundRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.RefundResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.PointRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="point-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      point - {{.transaction.PointRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PointRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PointResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PointRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.PointResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.ThreeDSRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="threeds-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      threeds - {{.transaction.ThreeDSRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.ThreeDSHostingRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="threeds-hosting-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      threeds hosting - {{.transaction.ThreeDSHostingRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSHostingRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSHostingResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSHostingRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.ThreeDSHostingResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.TokenRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="token-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      token - {{.transaction.TokenRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.TokenRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.TokenResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.TokenRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.TokenResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.CompletePaymentRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="complete-payment-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      complete payment - {{.transaction.CompletePaymentRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CompletePaymentRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CompletePaymentResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CompletePaymentRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CompletePaymentResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.CheckOrderRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="check-order-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      check order - {{.transaction.CheckOrderRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckOrderRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckOrderResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckOrderRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckOrderResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

  {{if .transaction.CheckProcessRequestHeaders}}
  <details class="collapse collapse-arrow bg-primary join-item" name="check-process-accordion">
    <summary class="collapse-title font-bold font-2xl text-primary-content">
      check process - {{.transaction.CheckProcessRequestHeaders.X_timestamp }}
    </summary>
    <div class="grid grid-cols-2 bg-base-200">
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">request headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckProcessRequestHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="border-b-4">
        <p class="text-xl text-center text-primary">response headers</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckProcessResponseHeaders}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">request body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckProcessRequest}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div>
        <p class="text-xl text-center text-primary">response body</p>
        <table class="table table-xs">
          {{range $hkey, $hvalue := .transaction.CheckProcessResponse}}
          <tr>
            <td>{{$hkey}}</td>
            <td>{{$hvalue}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </div>
  </details>
  {{end}}

</div>